<footer>
    <p style="margin-bottom: 0;">Made with <span style="color: red">love ❤️</span></p>
    <p style="margin-top: 0;">This project is Open-Source on <a href="https://github.com/teletvbis/xeer" style="color: blueviolet">GitHub</a>!</p>
</footer>