<header>
    <nav class="vertical">
        <p href="#" class="title"><img src="/assets/img/xeer-black.png" width="32" height="32" style="border-radius: 50%; vertical-align: middle; margin-right: 6px;"> xeer</p>
        <div class="wrapper">
            <p class="section">SELECT GUILD</p>
            <select id="selected_guild" name="Select"></select>
            <p class="section">UTILITIES</p>
            <a href="#welcomer" onclick="goAnotherTab('welcomer');"><span class="material-icons">chat</span> Welcomer</a>
        </div>
    </nav>
</header>
<script>
    function goAnotherTab(tName) {
        document.location = new URL(`/dashboard/${tName}?gid=${document.querySelector("#selected_guild").value}`, document.location.origin);
    }
</script>
<script type="module">

    const connector_url = "http://localhost:443";

    const selector = document.querySelector("#selected_guild");
    fetch(new URL(`/api/get_guilds?token=<%= token %>&uid=${(await getDiscordUser("<%= token %>")).id}&gids=${await getDiscordUserGIDs("<%= token %>")}`, connector_url))
        .then(res => res.json())
        .then(async (res) => {
            res.guilds.forEach(obj => {
                const optionObject = document.createElement("option");
                optionObject.setAttribute("value", obj.id);
                if (obj.id == "<%= guild_id %>") { optionObject.selected = true; }
                optionObject.textContent = obj.name;
                selector.appendChild(optionObject);
            });
        });

</script>