<header>
    <nav class="horizontal">
        <div class="wrapper"></div>
    </nav>
    <nav class="vertical">
        <p href="#" class="title"><img src="/assets/img/xeer-black.png" width="32" height="32" style="border-radius: 50%; vertical-align: middle; margin-right: 6px;"> xeer</p>
        <div class="wrapper">
            <p class="section">UTILITIES</p>
            <a href="#"><span class="material-icons">chat</span> Send Messages</a>
        </div>
    </nav>
</header>