<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/button.css">
    <title>xeer</title>
</head>
<body>
    <div class="centered">
        <h1 style="font-size: 8em; margin-bottom: 0;"><span class="glowing-x">x</span>eer</h1>
        <p style="font-size: 2em; margin-top: 0.5em;">A general-purpose discord bot.</p>
        <div style="display: flex; gap: 16px">
            <a class="button" href="/add">Add to Discord Server</a>
            <a class="button" href="/dashboard">Dashboard</a>
        </div>
        <br>
    </div>
</body>
</html>