:root {
    --bg-color: #1d1e22;
    --nav-bg-color: #242529;
    --nav-element-hover-color: #202125;
    --subtitle-color: rgba(255, 255, 255, 0.5);
    --card-bg-color: #242529;
    --text-color: #FFFFFF;
}