@import url("./colors.css");

.container {
    padding: 40px;
    margin-top: 10px;
    margin-right: 3vw;
}

.container .title {
    margin-top: 0;
    margin-bottom: 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.container .subtitle {
    color: var(--subtitle-color);
    margin-top: 5px;
}