@import url("./colors.css");

.material-icons {
    font-size: 24px !important;
    vertical-align: middle;
    margin-right: 10px;
}

nav .right {
    float: right;
}

nav p.title {
    font-size: 28px;
    margin-top: 26px;
    margin-left: none;
    text-align: center;
}

.section {
    margin: 0;
    font-weight: 600;
    margin-left: 8px;
    font-size: 12px;
    margin-top: 20px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 25px;
    margin: 5px;
    margin-top: 8px;
}

nav.vertical a {
    display: block;
    color: var(--subtitle-color);
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    width: auto;
}

nav.vertical a:hover {
    background-color: var(--nav-element-hover-color);
}

header {
    height: 100%;
}

nav.vertical {
    background-color: var(--nav-bg-color);
    height: 91%;
    margin-top: 40px;
    margin-left: 6vw;
    border-radius: 20px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
}

.container {
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}